body {
  padding-top: 100px;
}

#app-header{
    height: 100px;
}

#app-name{
    margin: 25px;
    color: whitesmoke;
    font-size: 50px;
}

#main-menu{
    margin: 0px;
    padding: 0px;
}

.menu-element{
    
    padding: 0px;
    list-style-type: none;
    border: 1px solid grey;
    font-size: 30px;
}

.menu-element > a{
    display: block;
    padding: 20px 10px;
}

.menu-element > a:hover{
    background-color: whitesmoke;
    text-decoration: none;
}

.blue {
  background: blue;
  height: 100px;
}
.red {
  background: red;
  height: 100px;
}