body {
  padding-top: 100px;
}

#app-header{
    height: 100px;
}

#app-name{
    margin: 25px;
    color: whitesmoke;
    font-size: 50px;
}

#main-menu{
}

.menu-element{
    margin-left: -50px;
    padding: 60px;
    list-style-type: none;
    border: 1px solid grey;
    font-size: 30px;
}
    
.blue {
  background: blue;
  height: 100px;
}
.red {
  background: red;
  height: 100px;
}