body {
  padding-top: 70px;
}

.breadcrumb *{
    display: inline;
    font-size: 20px;
}

.breadcrumb{
    margin: 0px 10px;
    padding: 0px;
    padding-top: 5px;
    background-color: transparent;
}

#header-links{
    margin: 10px;
    padding: 0;
}

#header-links a {
    color: lightgrey;
    padding-right: 10px;
}

#main-menu{
    margin: 0px;
    padding: 0px;
}

.menu-element{
    margin-bottom: 5px;
    padding: 0px;
    list-style-type: none;
    border: 1px solid grey;
    font-size: 25px;
}

.menu-element > a{
    display: block;
    padding: 20px 10px;
}

.menu-element > a > i{
    margin: -20px 5px;
    padding: 10px 0;
}

.menu-element > a:hover{
    background-color: whitesmoke;
    text-decoration: none;
}

.blue {
  background: blue;
  height: 100px;
}
.red {
  background: red;
  height: 100px;
}