<div id="hvaskjer" class="container rmpadding">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <div id="eventFilter">
          <div class="btn-group btn-group-justified">
            <a type="button" value="Today" data-bind="toggleTrigger: filter" class="btn btn-info btn-default">Today</a>
            <a type="button" value="This week" data-bind="toggleTrigger: filter" class="btn btn-info btn-default">This week</a>
            <a type="button" value="This month" data-bind="toggleTrigger: filter" class="btn btn-info btn-default">This month</a>
          </div>
          <a type="button" value="All events" data-bind="toggleTrigger: filter" class="btn btn-success btn-block">All events</a>
        </div>
      </div>
      <div class="col-xs-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <h3 data-bind="text: filter"></h3>
              <th>Dato</th>
              <th>Tid</th>
              <th>Hva</th>
              <th>Hvor</th>
            </tr>
          </thead>
          <tbody data-bind="foreach: filterEvents">
            <tr>
              <td data-bind="text: date"></td>
              <td data-bind="text: time"></td>
              <td data-bind="text: desc"></td>
              <td data-bind="text: where"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>