<div id="hvaskjer" class="container rmpadding">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-group" id="accordion">
          <div class="panel">
              <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">          
      <div class="panel-heading">
                <h4 class="panel-title">Idag</h4>
    </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
          <table class="table table-hover table-">
            <thead>
                <tr>
                  <th>Tid</th>
                  <th>Hva</th>
                  <th>Hvor</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: events">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
              
          </table>
      </div>
    </div>
  </div>
          <div class="panel">
    <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
    <div class="panel-heading">
      <h4 class="panel-title">
          Resten av uken
      </h4>
    </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover table-">
            <thead>
                <tr>
                  <th>Tid</th>
                  <th>Hva</th>
                  <th>Hvor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>16:15</td>
                    <td><a href="#">Illustrator 101</a></td>
                    <td>ADA</td>
                </tr>
                <tr>
                    <td>17:15</td>
                    <td><a href="#">CV-vask</a></td>
                    <td>Smalltalk</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td><a href="#">Whiskey seminar</a></td>
                    <td>Escape</td>
                </tr>
            </tbody>
              
          </table>
      </div>
    </div>
  </div>
  <div class="panel">
    <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
    <div class="panel-heading">
      <h4 class="panel-title">
          Resten av måneden
      </h4>
    </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover table-">
            <thead>
                <tr>
                  <th>Tid</th>
                  <th>Hva</th>
                  <th>Hvor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>16:15</td>
                    <td><a href="#">Illustrator 101</a></td>
                    <td>ADA</td>
                </tr>
                <tr>
                    <td>17:15</td>
                    <td><a href="#">CV-vask</a></td>
                    <td>Smalltalk</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td><a href="#">Whiskey seminar</a></td>
                    <td>Escape</td>
                </tr>
            </tbody>
              
          </table>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>