<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="main-menu" class="panel-group">
        <div class="panel">
            <a class="panel-info" href="#/rom-oversikt">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-list"></i>                                     Romoversikt
                    </h4>
                </div>
            </a>
        </div>
        <div class="panel">
            <a class="panel-info" href="#/kart">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-map-marker"></i>                                     Kart, OJD
                    </h4>
                </div>
            </a>
        </div>
        <div class="panel">
            <a class="panel-info" href="#/hva-skjer">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-calendar"></i>
                        Hva skjer?
                    </h4>
                </div>
            </a>
        </div>
        <div class="panel">
            <a class="panel-info" href="#/praktisk-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-info-circle"></i>                                     Praktisk info
                    </h4>
                </div>
            </a>
        </div>
        </div>
    
    
    
    
    </div>
  </div>
</div>