<div class="container rmpadding">
  <div class="row">
    <div class="col-xs-12">



      <div class="panel-group" id="accordion">
          <div class="panel">
              <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">          
              <div class="panel-heading">
                  <h4 class="panel-title">Åpningstider</h4>
              </div>
              </a>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      Kommer
                  </div>
            </div>
             
        </div>
          <div class="panel">
    <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
    <div class="panel-heading">
      <h4 class="panel-title">
          Driftsmeldinger
      </h4>
    </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <h4>Fronter nede!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, error repellendus suscipit sequi. Dolores, mollitia, saepe, sunt illo sint sapiente laudantium quaerat ipsa porro hic facilis distinctio expedita quam perspiciatis.</p>
        <h4>Brann i kantina</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, error repellendus suscipit sequi. Dolores, mollitia, saepe, sunt illo sint sapiente laudantium quaerat ipsa porro hic facilis distinctio expedita quam perspiciatis.</p>
      </div>
    </div>
  </div>
  <div class="panel">
    <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
    <div class="panel-heading">
      <h4 class="panel-title">
          Trafikanten
      </h4>
    </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      Kommer
      </div>
    </div>
  </div>
          <div class="panel">
    <a class="accordion-toggle panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
    <div class="panel-heading">
      <h4 class="panel-title">
          Printere
      </h4>
    </div>
    </a>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-hover table-">
            <thead>
                <tr>
                  <th>Navn</th>
                  <th>Hvor</th>
                  <th>Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Futura</td>
                    <td>OJD, 3.etg, sørenden</td>
                    <td>
                        <ul>
                            <li>Farger</li>
                            <li>A3 og A4</li>
                            <li>Tosidig</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Caslon</td>
                    <td>OJD, 3.etg, midten</td>
                    <td>
                        <ul>
                            <li>Farger</li>
                            <li>A4</li>
                            <li>Tosidig</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Bodoni</td>
                    <td>OJD, 3.etg, nordenden</td>
                    <td>
                        <ul>
                            <li>Farger</li>
                            <li>Svart-Hvitt</li>
                            <li>Tosidig</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
              
          </table>
      </div>
    </div>
  </div>
          
      </div>
    </div>
  </div>
</div>